In [30]:
import featuretools as ft
import numpy as np
import pandas as pd

train = pd.read_csv("train_v9rqX0R.csv")
test = pd.read_csv("test_AbJTz2l.csv")

In [31]:
# saving identifiers
test_Item_Identifier = test['Item_Identifier']
test_Outlet_Identifier = test['Outlet_Identifier']
sales = train['Item_Outlet_Sales']
train.drop(['Item_Outlet_Sales'], axis=1, inplace=True)

In [32]:
combi = train.append(test, ignore_index=True)

In [33]:
combi.isnull().sum()

Item_Identifier                 0
Item_Weight                  2439
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  4016
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [34]:
# imputing missing data
combi['Item_Weight'].fillna(combi['Item_Weight'].median(), inplace = True)
combi['Outlet_Size'].fillna(combi['Outlet_Size'].mode()[0],inplace = True)

In [35]:
combi.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
dtype: int64

In [36]:
#all categorical feature
cat_features = combi.select_dtypes(include=[np.object])
cat_features.head()

,Item_Identifier,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDA15,Low Fat,Dairy,OUT049,Medium,Tier 1,Supermarket Type1
1,DRC01,Regular,Soft Drinks,OUT018,Medium,Tier 3,Supermarket Type2
2,FDN15,Low Fat,Meat,OUT049,Medium,Tier 1,Supermarket Type1
3,FDX07,Regular,Fruits and Vegetables,OUT010,Medium,Tier 3,Grocery Store
4,NCD19,Low Fat,Household,OUT013,High,Tier 3,Supermarket Type1

In [37]:
# dictionary to replace the categories
fat_content_dict = {'Low Fat':0, 'Regular':1, 'LF':0, 'reg':1, 'low fat':0}

combi['Item_Fat_Content'] = combi['Item_Fat_Content'].replace(fat_content_dict, regex=True)

In [38]:
#all categorical feature
cat_features = combi.select_dtypes(include=[np.object])
cat_features.head()

,Item_Identifier,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDA15,Dairy,OUT049,Medium,Tier 1,Supermarket Type1
1,DRC01,Soft Drinks,OUT018,Medium,Tier 3,Supermarket Type2
2,FDN15,Meat,OUT049,Medium,Tier 1,Supermarket Type1
3,FDX07,Fruits and Vegetables,OUT010,Medium,Tier 3,Grocery Store
4,NCD19,Household,OUT013,High,Tier 3,Supermarket Type1

In [39]:
combi['Outlet_Size'].value_counts()

Medium    8671
Small     3980
High      1553
Name: Outlet_Size, dtype: int64

In [42]:
# lets encode the education in their degree of importance 
# combi['Outlet_Size'] = combi['Outlet_Size'].replace(("Medium", "Small", "High"),
#                                                 (3, 2, 1))
# combi['Outlet_Size'] = combi['Outlet_Size'].replace(("Medium", "Small", "High"),
#                                                 (3, 2, 1))

In [41]:
combi['Outlet_Size'].value_counts()

3    8671
2    3980
1    1553
Name: Outlet_Size, dtype: int64

In [43]:
#all categorical feature
cat_features = combi.select_dtypes(include=[np.object])
cat_features.head()

,Item_Identifier,Item_Type,Outlet_Identifier,Outlet_Location_Type,Outlet_Type
0,FDA15,Dairy,OUT049,Tier 1,Supermarket Type1
1,DRC01,Soft Drinks,OUT018,Tier 3,Supermarket Type2
2,FDN15,Meat,OUT049,Tier 1,Supermarket Type1
3,FDX07,Fruits and Vegetables,OUT010,Tier 3,Grocery Store
4,NCD19,Household,OUT013,Tier 3,Supermarket Type1

In [45]:
# lets encode the education in their degree of importance 
# combi['Outlet_Location_Type'] = combi['Outlet_Location_Type'].replace(("Tier 3", "Tier 2", "Tier 1"),
#                                                 (3, 2, 1))
# combi['Outlet_Location_Type'] = combi['Outlet_Location_Type'].replace(("Tier 3", "Tier 2", "Tier 1"),
#                                                 (3, 2, 1))

In [47]:
cat_features = combi.select_dtypes(include=[np.object])
cat_features

,Item_Identifier,Item_Type,Outlet_Identifier,Outlet_Type
0,FDA15,Dairy,OUT049,Supermarket Type1
1,DRC01,Soft Drinks,OUT018,Supermarket Type2
2,FDN15,Meat,OUT049,Supermarket Type1
3,FDX07,Fruits and Vegetables,OUT010,Grocery Store
4,NCD19,Household,OUT013,Supermarket Type1
...,...,...,...,...
14199,FDB58,Snack Foods,OUT046,Supermarket Type1
14200,FDD47,Starchy Foods,OUT018,Supermarket Type2
14201,NCO17,Health and Hygiene,OUT045,Supermarket Type1
14202,FDJ26,Canned,OUT017,Supermarket Type1
14203,FDU37,Canned,OUT045,Supermarket Type1

In [48]:
combi = pd.get_dummies(combi, columns =['Item_Type','Outlet_Type'],drop_first=True)
combi.dtypes

Item_Identifier                     object
Item_Weight                        float64
Item_Fat_Content                     int64
Item_Visibility                    float64
Item_MRP                           float64
Outlet_Identifier                   object
Outlet_Establishment_Year            int64
Outlet_Size                          int64
Outlet_Location_Type                 int64
Item_Type_Breads                     uint8
Item_Type_Breakfast                  uint8
Item_Type_Canned                     uint8
Item_Type_Dairy                      uint8
Item_Type_Frozen Foods               uint8
Item_Type_Fruits and Vegetables      uint8
Item_Type_Hard Drinks                uint8
Item_Type_Health and Hygiene         uint8
Item_Type_Household                  uint8
Item_Type_Meat                       uint8
Item_Type_Others                     uint8
Item_Type_Seafood                    uint8
Item_Type_Snack Foods                uint8
Item_Type_Soft Drinks                uint8
Item_Type_Starchy Foods              uint8
Outlet_Type_Supermarket Type1        uint8
Outlet_Type_Supermarket Type2        uint8
Outlet_Type_Supermarket Type3        uint8
dtype: object

In [49]:
combi['id'] = combi['Item_Identifier'] + combi['Outlet_Identifier']
combi.drop(['Item_Identifier'], axis=1, inplace=True)

In [50]:
# creating and entity set 'es'
es = ft.EntitySet(id = 'sales')

# adding a dataframe 
es.entity_from_dataframe(entity_id = 'bigmart', dataframe = combi, index = 'id')

Entityset: sales
  Entities:
    bigmart [Rows: 14204, Columns: 27]
  Relationships:
    No relationships

In [52]:
es.normalize_entity(base_entity_id='bigmart', new_entity_id='outlet', index = 'Outlet_Identifier', 
additional_variables = ['Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type'])

Entityset: sales
  Entities:
    bigmart [Rows: 14204, Columns: 24]
    outlet [Rows: 10, Columns: 4]
  Relationships:
    bigmart.Outlet_Identifier -> outlet.Outlet_Identifier

In [53]:
feature_matrix, feature_names = ft.dfs(entityset=es, 
target_entity = 'bigmart', 
max_depth = 2, 
verbose = 1, 
n_jobs = 3)

Built 159 features
EntitySet scattered to 3 workers in 5 seconds
Elapsed: 00:02 | Progress: 100%|███████████████████████████████████████████████████████████████████████████████████████

In [54]:
feature_matrix.columns

Index(['Item_Weight', 'Item_Fat_Content', 'Item_Visibility', 'Item_MRP',
       'Outlet_Identifier', 'Item_Type_Breads', 'Item_Type_Breakfast',
       'Item_Type_Canned', 'Item_Type_Dairy', 'Item_Type_Frozen Foods',
       ...
       'outlet.MEAN(bigmart.Item_Type_Seafood)',
       'outlet.MEAN(bigmart.Item_Type_Snack Foods)',
       'outlet.MEAN(bigmart.Item_Type_Soft Drinks)',
       'outlet.MEAN(bigmart.Item_Type_Starchy Foods)',
       'outlet.MEAN(bigmart.Item_Visibility)',
       'outlet.MEAN(bigmart.Item_Weight)',
       'outlet.MEAN(bigmart.Outlet_Type_Supermarket Type1)',
       'outlet.MEAN(bigmart.Outlet_Type_Supermarket Type2)',
       'outlet.MEAN(bigmart.Outlet_Type_Supermarket Type3)',
       'outlet.COUNT(bigmart)'],
      dtype='object', length=159)

In [55]:
feature_matrix = feature_matrix.reindex(index=combi['id'])
feature_matrix = feature_matrix.reset_index()

In [64]:
from catboost import CatBoostRegressor
from sklearn.metrics import  r2_score,mean_squared_error,mean_absolute_error
from math import sqrt

In [57]:
categorical_features = np.where(feature_matrix.dtypes == 'object')[0]

for i in categorical_features:
    feature_matrix.iloc[:,i] = feature_matrix.iloc[:,i].astype('str')

In [58]:
feature_matrix.drop(['id'], axis=1, inplace=True)
train = feature_matrix[:8523]
test = feature_matrix[8523:]

In [59]:
# removing uneccesary variables
train.drop(['Outlet_Identifier'], axis=1, inplace=True)
test.drop(['Outlet_Identifier'], axis=1, inplace=True)

In [60]:
# identifying categorical features
categorical_features = np.where(train.dtypes == 'object')[0]

In [61]:
from sklearn.model_selection import train_test_split

# splitting train data into training and validation set
xtrain, xvalid, ytrain, yvalid = train_test_split(train, sales, test_size=0.25, random_state=11)

In [62]:
model_cat = CatBoostRegressor(iterations=100, learning_rate=0.3, depth=6, eval_metric='RMSE', random_seed=7)

# training model
model_cat.fit(xtrain, ytrain, cat_features=categorical_features, use_best_model=True)

You should provide test set for use best model. use_best_model parameter has been switched to false value.

0:	learn: 1449.3008460	total: 60.9ms	remaining: 6.03s
1:	learn: 1286.4134205	total: 69.8ms	remaining: 3.42s
2:	learn: 1197.8807090	total: 77.1ms	remaining: 2.49s
3:	learn: 1139.9418489	total: 84.6ms	remaining: 2.03s
4:	learn: 1108.3088361	total: 91.7ms	remaining: 1.74s
5:	learn: 1091.1918307	total: 98.9ms	remaining: 1.55s
6:	learn: 1078.8113167	total: 106ms	remaining: 1.41s
7:	learn: 1073.8897311	total: 113ms	remaining: 1.3s
8:	learn: 1069.4948618	total: 120ms	remaining: 1.21s
9:	learn: 1066.5075602	total: 127ms	remaining: 1.14s
10:	learn: 1064.1421205	total: 134ms	remaining: 1.09s
11:	learn: 1062.5608631	total: 141ms	remaining: 1.03s
12:	learn: 1061.2918067	total: 148ms	remaining: 992ms
13:	learn: 1059.5417063	total: 155ms	remaining: 953ms
14:	learn: 1057.8279307	total: 163ms	remaining: 921ms
15:	learn: 1054.3468146	total: 170ms	remaining: 891ms
16:	learn: 1053.2918599	total: 177ms	remaining: 866ms
17:	learn: 1051.5708152	total: 187ms	remaining: 852ms
18:	learn: 1050.1158376	total: 196ms	remaining: 837ms
19:	learn: 1048.4587755	total: 204ms	remaining: 818ms
20:	learn: 1046.8097720	total: 212ms	remaining: 798ms
21:	learn: 1045.1675976	total: 219ms	remaining: 777ms
22:	learn: 1044.8213767	total: 227ms	remaining: 760ms
23:	learn: 1043.6322014	total: 238ms	remaining: 755ms
24:	learn: 1042.6340712	total: 249ms	remaining: 746ms
25:	learn: 1040.6816160	total: 256ms	remaining: 729ms
26:	learn: 1040.3339096	total: 269ms	remaining: 728ms
27:	learn: 1039.8010141	total: 277ms	remaining: 714ms
28:	learn: 1039.3072453	total: 283ms	remaining: 692ms
29:	learn: 1037.5961281	total: 290ms	remaining: 678ms
30:	learn: 1035.2198214	total: 298ms	remaining: 663ms
31:	learn: 1032.3566586	total: 305ms	remaining: 649ms
32:	learn: 1030.4007684	total: 313ms	remaining: 635ms
33:	learn: 1027.7971847	total: 320ms	remaining: 622ms
34:	learn: 1025.6245006	total: 328ms	remaining: 608ms
35:	learn: 1023.5722066	total: 334ms	remaining: 594ms
36:	learn: 1020.6613241	total: 342ms	remaining: 582ms
37:	learn: 1017.9712732	total: 349ms	remaining: 569ms
38:	learn: 1015.0625939	total: 356ms	remaining: 557ms
39:	learn: 1013.6111147	total: 363ms	remaining: 544ms
40:	learn: 1011.9017922	total: 370ms	remaining: 532ms
41:	learn: 1009.6613242	total: 376ms	remaining: 520ms
42:	learn: 1008.2431269	total: 383ms	remaining: 508ms
43:	learn: 1006.8593250	total: 390ms	remaining: 496ms
44:	learn: 1003.5026535	total: 397ms	remaining: 485ms
45:	learn: 1001.8677299	total: 404ms	remaining: 475ms
46:	learn: 999.4051563	total: 411ms	remaining: 463ms
47:	learn: 997.3567010	total: 419ms	remaining: 454ms
48:	learn: 995.4598523	total: 427ms	remaining: 445ms
49:	learn: 994.0453945	total: 438ms	remaining: 438ms
50:	learn: 991.8994573	total: 446ms	remaining: 429ms
51:	learn: 989.0810680	total: 453ms	remaining: 419ms
52:	learn: 986.9466081	total: 461ms	remaining: 409ms
53:	learn: 985.4673370	total: 468ms	remaining: 399ms
54:	learn: 983.8109108	total: 474ms	remaining: 388ms
55:	learn: 982.6424036	total: 481ms	remaining: 378ms
56:	learn: 981.1849092	total: 488ms	remaining: 368ms
57:	learn: 979.6117729	total: 494ms	remaining: 358ms
58:	learn: 977.9170365	total: 502ms	remaining: 349ms
59:	learn: 975.6415029	total: 509ms	remaining: 339ms
60:	learn: 973.1529716	total: 516ms	remaining: 330ms
61:	learn: 971.5472841	total: 524ms	remaining: 321ms
62:	learn: 969.5744812	total: 534ms	remaining: 313ms
63:	learn: 966.6898374	total: 542ms	remaining: 305ms
64:	learn: 965.0350770	total: 550ms	remaining: 296ms
65:	learn: 963.4880544	total: 557ms	remaining: 287ms
66:	learn: 962.1851674	total: 563ms	remaining: 277ms
67:	learn: 961.2535288	total: 571ms	remaining: 269ms
68:	learn: 959.9211342	total: 579ms	remaining: 260ms
69:	learn: 958.0346870	total: 587ms	remaining: 251ms
70:	learn: 956.5423534	total: 596ms	remaining: 243ms
71:	learn: 954.6925462	total: 605ms	remaining: 235ms
72:	learn: 951.9694221	total: 616ms	remaining: 228ms
73:	learn: 950.2089930	total: 624ms	remaining: 219ms
74:	learn: 948.4624495	total: 631ms	remaining: 210ms
75:	learn: 947.5554019	total: 638ms	remaining: 201ms
76:	learn: 946.6357477	total: 644ms	remaining: 192ms
77:	learn: 944.6391825	total: 652ms	remaining: 184ms
78:	learn: 942.4037120	total: 659ms	remaining: 175ms
79:	learn: 940.2745587	total: 667ms	remaining: 167ms
80:	learn: 939.4911650	total: 673ms	remaining: 158ms
81:	learn: 936.9709633	total: 681ms	remaining: 150ms
82:	learn: 935.8646244	total: 688ms	remaining: 141ms
83:	learn: 934.2322912	total: 695ms	remaining: 132ms
84:	learn: 932.5584560	total: 702ms	remaining: 124ms
85:	learn: 931.5118765	total: 709ms	remaining: 115ms
86:	learn: 929.8910256	total: 716ms	remaining: 107ms
87:	learn: 927.8504193	total: 723ms	remaining: 98.6ms
88:	learn: 926.2529638	total: 730ms	remaining: 90.2ms
89:	learn: 924.4593075	total: 737ms	remaining: 81.8ms
90:	learn: 922.3298353	total: 744ms	remaining: 73.6ms
91:	learn: 921.3812052	total: 751ms	remaining: 65.3ms
92:	learn: 920.0286886	total: 758ms	remaining: 57.1ms
93:	learn: 918.5787781	total: 765ms	remaining: 48.8ms
94:	learn: 916.5985241	total: 778ms	remaining: 41ms
95:	learn: 914.8940426	total: 787ms	remaining: 32.8ms
96:	learn: 913.8207164	total: 797ms	remaining: 24.6ms
97:	learn: 912.4552149	total: 804ms	remaining: 16.4ms
98:	learn: 911.2220518	total: 812ms	remaining: 8.2ms
99:	learn: 910.3599172	total: 819ms	remaining: 0us

In [71]:
# validation score
score = r2_score(yvalid,y_test_pred_xgb)
score

0.5702543568875711

In [67]:
y_test_pred_xgb =model_cat.predict(xvalid)
print("RMSE :",np.sqrt(mean_squared_error(yvalid,y_test_pred_xgb)))

RMSE : 1114.8498768645436

In [76]:
y_pred = model_cat.predict(test)

In [72]:
df = pd.read_csv('sample_submission_8RXa3c6.csv')

In [73]:
df

     Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0              FDW58            OUT049               1000
1              FDW14            OUT017               1000
2              NCN55            OUT010               1000
3              FDQ58            OUT017               1000
4              FDY38            OUT027               1000
...              ...               ...                ...
5676           FDB58            OUT046               1000
5677           FDD47            OUT018               1000
5678           NCO17            OUT045               1000
5679           FDJ26            OUT017               1000
5680           FDU37            OUT045               1000

[5681 rows x 3 columns]

In [77]:
df['Item_Outlet_Sales'] = y_pred

In [80]:
df['Item_Outlet_Sales'] = abs(df['Item_Outlet_Sales'])

In [81]:
df

     Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0              FDW58            OUT049        1565.582734
1              FDW14            OUT017        1128.310630
2              NCN55            OUT010         410.846160
3              FDQ58            OUT017        2433.565035
4              FDY38            OUT027        6059.398188
...              ...               ...                ...
5676           FDB58            OUT046        2042.631481
5677           FDD47            OUT018        2452.760863
5678           NCO17            OUT045        1627.136507
5679           FDJ26            OUT017        4418.074688
5680           FDU37            OUT045        1218.341973

[5681 rows x 3 columns]

In [82]:
df.to_csv('ff.csv',index=False)